body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f5f5f5;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: #ccc;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

main h2 {

  margin-top: 0;
  text-align: center;
}

/* main h3 {

  margin-top: 0;
  text-align: center;
} */

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: center;
}

form input[type="text"],
form input[type="number"],
form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
}


form input[type="radio"] {
  display: inline-block; /* ? */
  margin-right: 5px;
}

footer {
  text-align: center;
  font-size: 0.8em;
  color: #666;
  margin-top: 20px;
}

select {
  display: block;  /* make the select element a block-level element */
  margin: 0 auto;  /* center the element horizontally */
}


main img {
  display: block;
  margin: 0 auto;
  width: 500px;
  height: 300px;
}
